.marquee {
    width: 100%;
    line-height: 15px;
    background-color: darkslategray;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    margin-top: 15px;
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
